.col-md-4 {
  margin-top: 7px;
}

.football-button,
.basketball-button,
.baseball-button {
    display: inline-block;
    /* Add any other styles you want to apply */
}

.homeImage {
  width: 100%;
  height: 300px;
}

@media (max-width: 767.98px) {
    #sportButton {
      width: 100%;
    }
}